<a href="https://colab.research.google.com/github/drusho/webscrape_youtube/blob/main/notebooks/2021_07_20_webscrapping_youtube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scrapping Youtube Tech Channels
> Using Senenium to Analyze Youtube Data

- toc: false
- badges: false
- comments: true
- categories: [Selenium, Web Scrapping, Pandas]
- image: "images/thumbnails/header_youtube_web.png"

<br>

__Notebook Created by David Rusho__

[Github Blog](https://drusho.github.io) | [Github](https://github.com/drusho/webscrape_youtube) | [Tableau](https://public.tableau.com/app/profile/drusho/) | [Linkedin](https://linkedin.com/in/davidrusho)

## About the Data

Web scraping was performed on the _Top 10 Tech Channels_ on Youtube using _[Selenium](https://selenium-python.readthedocs.io/)_ (an automated browser (driver) controlled using python, which is often used in web scraping and web testing).  Web scrapped Youtube channels were determined using a __[Top 10 Tech Youtubers](https://blog.bit.ai/top-tech-youtubers/)__ list from blog.bit.ai.  Scraping included:

* General data for each channel.
 * ex. join date, name, no. of subscribers

* Data from most popular videos per channel
 * ex. video titles, views

* Data specific to each video.
 * ex. post date, no. of upvotes, no. comments

<br>

The average number of videos per channel was around 200.  In total, the data from 2000 videos was scrapped.

## Introduction

_*Note: View this notebook in [Google Colab](https://colab.research.google.com/drive/1UxpBBsypGqUj7816zyvGNhJcPfaxBP_c?usp=sharing) to view more detailed code on data cleaning procedures or visit my [github](https://github.com/drusho/webscrape_youtube) to view the code related to webscrapping and data collection._

#hide
## Data Cleaning

In [ ]:
#hide
import pandas as pd

#hide
### Raw Dataframe Sample
Data from Youtube Channels' main pages (Video and About)

In [ ]:
#collapse
yt = pd.read_csv('yt_channel_scrap.csv',parse_dates=['channel_join_date'])
yt.head(2)

   Unnamed: 0 channel_name  ... channel_views channel_description
0           0     iJustine  ...           NaN                 NaN
1           1     iJustine  ...           NaN                 NaN

[2 rows x 10 columns]

In [ ]:
#hide
# create df of Channel details
channel_details = yt[yt.channel_join_date.notna()]
channel_details = channel_details.drop(columns=['Unnamed: 0','subscribers','title','views','post_date']).reset_index(drop=True)
channel_details.head(2)

        channel_name  ...                                channel_description
0           iJustine  ...  Tech, video games, failed cooking attempts, vl...
1  Android Authority  ...  Your source for the best phones, streaming, ap...

[2 rows x 5 columns]

In [ ]:
#hide
#create df Video details
video_details = yt[yt.channel_join_date.isna()]
video_details = video_details.drop(columns=['Unnamed: 0','channel_join_date','channel_views','channel_description','post_date']).reset_index(drop=True)
video_details.head(2)

  channel_name  ...                                          url
0     iJustine  ...  https://www.youtube.com/watch?v=iPgaTmsYTT8
1     iJustine  ...  https://www.youtube.com/watch?v=y7xZ-kJDgvM

[2 rows x 5 columns]

In [ ]:
#hide
# merge dfs 
merged = channel_details.merge(video_details, on='channel_name')
merged.head(2)

  channel_name url_x  ...      views                                        url_y
0     iJustine   NaN  ...  18M views  https://www.youtube.com/watch?v=iPgaTmsYTT8
1     iJustine   NaN  ...  12M views  https://www.youtube.com/watch?v=y7xZ-kJDgvM

[2 rows x 9 columns]

In [ ]:
#hide
# drop 2nd url column and rename remaining url col
merged.drop(columns=('url_x'),inplace=True)
merged.rename(columns={'url_y':'url'},inplace=True)
merged.sample(2)

       channel_name  ...                                          url
1601  UrAvgConsumer  ...  https://www.youtube.com/watch?v=3HTc9xJHbU0
666   Jon Rettinger  ...  https://www.youtube.com/watch?v=75ZXRi2XyZ0

[2 rows x 8 columns]

In [ ]:
#hide
# dtypes to int for views and subscribers
merged.subscribers = merged.subscribers.str.replace('M subscribers','000000').str.replace('.','').astype('int')
merged.views = merged.views.str.replace('M views','000000').str.replace('K views','000').str.replace('.','').str.replace('1 year ago','0').astype('int')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1998
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   channel_name         1999 non-null   object
 1   channel_join_date    1999 non-null   datetime64[ns]
 2   channel_views        1999 non-null   object
 3   channel_description  1999 non-null   object
 4   subscribers          1999 non-null   int64
 5   title                1999 non-null   object
 6   views                1999 non-null   int64
 7   url                  1999 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 140.6+ KB

#### Cleaned Dataframe Sample

_*Data from Youtube Channels' main pages (Video and About)_

In [ ]:
#collapse
# channel views to dtype
merged.channel_views = merged.channel_views.str.replace(',','').str.replace('views','').astype('int')
merged.head(2)

  channel_name  ...                                          url
0     iJustine  ...  https://www.youtube.com/watch?v=iPgaTmsYTT8
1     iJustine  ...  https://www.youtube.com/watch?v=y7xZ-kJDgvM

[2 rows x 8 columns]

#hide
## Import Videos Data

Specific data from 2000 youtube videos

In [ ]:
#hide
# import videos 
df_videos = pd.read_csv('yt_videos_scrap_big_data.csv',parse_dates=['Publish Date','Upload_date'])
df_videos.drop(columns=['Unnamed: 0','Duration','Channel Name','Title'],inplace=True)
df_videos.sample(2)

                                             url  ... Interaction Count
401  https://www.youtube.com/watch?v=iXKvwPjCGnY  ...          15688251
735  https://www.youtube.com/watch?v=cER36crkkVw  ...            568777

[2 rows x 10 columns]

In [ ]:
#hide
# comments dytpe to int
df_videos['Comments'] = df_videos['Comments'].str.replace('Comments','').str.replace(',','').astype('int')
df_videos.sample(2)

                                              url  ... Interaction Count
1948  https://www.youtube.com/watch?v=ZrZISyPucMg  ...           4635276
1363  https://www.youtube.com/watch?v=bjZE1fwAyJ4  ...           5149958

[2 rows x 10 columns]

In [ ]:
#hide
# Likes dytpe to int
df_videos['Likes'] = df_videos['Likes'].str.replace('K','000').str.replace("M",'000000').str.replace('.','').astype('int')
df_videos.sample(2)

                                              url  ... Interaction Count
234   https://www.youtube.com/watch?v=hHavcoQtYIY  ...           1832509
1645  https://www.youtube.com/watch?v=YjmWnwKxOls  ...           1446756

[2 rows x 10 columns]

In [ ]:
#hide
# Fix Width and Height, remove '.' and '0' from end of str
df_videos['Width'] = df_videos['Width'].astype('str').str.split(".", expand=True)[0]
df_videos['Height'] = df_videos['Height'].astype('str').str.split(".", expand=True)[0]
df_videos.head(2)

                                           url  ... Interaction Count
0  https://www.youtube.com/watch?v=iPgaTmsYTT8  ...          18198670
1  https://www.youtube.com/watch?v=y7xZ-kJDgvM  ...          12395700

[2 rows x 10 columns]

## Cleaned Dataframe

Sample of fully cleaned and merged dataframe

Data from Youtubes Channels and all Videos pages were merged.

In [ ]:
#collapse
# merge df2 
vc_merged = merged.merge(df_videos, on='url') 
vc_merged.rename(columns={
    'Partial Description':'video_desc',
    'Publish Date':'publish_date',
    'Upload_date':'upload_date',
    'Interaction Count':'interact_count'
    },inplace=True)

vc_merged.head(2)

  channel_name channel_join_date  ...  Comments interact_count
0     iJustine        2006-05-07  ...     23437       18198670
1     iJustine        2006-05-07  ...      8421       12395700

[2 rows x 17 columns]

## Data Analysis

### List of Youtube Channels in Dataframe

In [ ]:
#collapse
# List of Video Channels
vc_merged.groupby(['channel_join_date','channel_name','channel_views','channel_description'])['subscribers'].max().to_frame().reset_index()

  channel_join_date  ... subscribers
0        2006-05-07  ...   689000000
1        2007-06-07  ...   159000000
2        2007-08-04  ...   507000000
3        2008-03-21  ...   143000000
4        2008-11-24  ...   137000000
5        2010-03-24  ...   264000000
6        2010-12-21  ...    18000000
7        2011-04-03  ...   336000000
8        2011-04-20  ...   771000000
9        2012-01-01  ...   311000000

[10 rows x 5 columns]

### Top 10 Videos by Views

Discoveries so far:

* Majority of these vidoes are over a year old.  Meaning that as time goes by more video views will be acquired.

* Two videos list a dollar amount in the title.

* Marques Brownlee labels some videos (ex: "Dope Tech")

* Unbox Therapy dominates videos by views list, 8 of 10 videos belong to this channel alone.

In [ ]:
#collapse
# Top 10 Videos by Views
vc_merged.groupby(['title','channel_name','publish_date'])['views'].max().sort_values(ascending=False).head(10).reset_index()

                                            title  ...     views
0      2020 iPad Pro Review: It's... A Computer?!  ...  99000000
1                       A Keyboard Made Of Glass?  ...  98000000
2             iPhone 12 - The iPhone is New Again  ...  98000000
3                       The Secret Android Button  ...  98000000
4             The FASTEST gaming PC money can buy  ...  98000000
5         Fortnite on an INSANE $20,000 Gaming PC  ...  98000000
6                Dope Tech: Self-Lacing Nike Mag!  ...  98000000
7                         This is the iPhone SE 2  ...  97000000
8          Human Headphones Just Changed The Game  ...  97000000
9  $1000 Earphones! (Shure SE846 Unboxing & Test)  ...  97000000

[10 rows x 4 columns]

### Total Views by Channel

In [ ]:
#collapse
# Total Views by Channel

merged.groupby(['channel_name','subscribers'])['views'].sum().sort_values(ascending=False).reset_index()

        channel_name  subscribers        views
0      Unbox Therapy     18000000  10357000000
1    Linus Tech Tips    137000000   9891000000
2   Marques Brownlee    143000000   9863000000
3     Mrwhosetheboss    771000000   6816000000
4       Austin Evans    506000000   5040000000
5           iJustine    689000000   5016000000
6  Android Authority    336000000   1590710000
7      UrAvgConsumer    311000000   1500726000
8  Jonathan Morrison    264000000   1340206000
9      Jon Rettinger    159000000   1051486000

### Channels Grouped By Date They Joined Youtube

In [ ]:
#collapse
merged.groupby('channel_name')['channel_join_date'].min().sort_values().to_frame().reset_index()

        channel_name channel_join_date
0           iJustine        2006-05-07
1      Jon Rettinger        2007-06-07
2       Austin Evans        2007-08-04
3   Marques Brownlee        2008-03-21
4    Linus Tech Tips        2008-11-24
5  Jonathan Morrison        2010-03-24
6      Unbox Therapy        2010-12-21
7  Android Authority        2011-04-03
8     Mrwhosetheboss        2011-04-20
9      UrAvgConsumer        2012-01-01

## Resources

- [Top 25 Selenium Functions That Will Make You Pro In Web Scraping](https://towardsdatascience.com/top-25-selenium-functions-that-will-make-you-pro-in-web-scraping-5c937e027244)

- [How to build a Web Scraper or Bot in Python using Selenium](https://medium.com/daily-programming-tips/how-to-build-a-web-scraper-or-bot-in-python-using-selenium-2815f20023f7)

- [Web Scraping: Introduction, Best Practices & Caveats](https://medium.com/velotio-perspectives/web-scraping-introduction-best-practices-caveats-9cbf4acc8d0f)

- [Web Scraping Job Postings from Indeed.com using Selenium](https://towardsdatascience.com/web-scraping-job-postings-from-indeed-com-using-selenium-5ae58d155daf)


- [How I Use Selenium to Automate the Web With Python. Pt1 -  John Watson Rooney
](https://www.youtube.com/watch?v=pUUhvJvs-R4)